/* ✨ Element queries ✨
 *    Via a --named-breakpoints custom property with syntax like:
 *    	[length] [class name] [length] (etc)
 *    Class names are applied when an element’s width is between adjacent lengths.
 */
 
.queried {
	--named-breakpoints: 2em medium 5em large 8em huge;
}

.queried.medium {
	background-color: green;
}

.queried.large {
	background-color: yellow;
}

.queried.huge {
	background-color: red;
}


/* Base styles */

:root {
	font-family: menlo, monospace;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.item {
	color: white;
	background-color: black;
	padding: 1em;
	text-align: center;
  font-size: 2em;
}