/* ✨ Element queries ✨
 *    Via a --breakpoints custom property with alternating names and lengths, e.g.
 *    	--breakpoints: .small 5em .medium 10em .large;
 *    Class names are applied when an element’s width is between adjacent lengths.
 */
 
.queried {
	--poofpoints: .small 2em .medium.border 5em .large.border 8em .huge;
	color: red;
}

.border {
	border: 3px dotted blue;
}

.queried.medium {
	background-color: green;
}

.queried.large {
	background-color: yellow;
}

.queried.huge {
	background-color: red;
}


/* Base styles */

:root {
	font-family: menlo, monospace;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.item {
	color: white;
	background-color: black;
	padding: 1em;
	text-align: center;
	font-size: 2em;
}