/* ✨ Element/container queries ✨
 *    Via a --presto-points custom property with alternating class names and lengths, e.g.
 *    	--presto-points: .small 5em .medium 10em .large;
 *    Class names are applied when an element’s width is between adjacent lengths.
 */
 
.queried {
	--conditional-classes:
		(width > 100px) .large;
	color: red;
}

.queried.large {
	background-color: yellow;
}


/* Base styles */

:root {
	font-family: menlo, monospace;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.item {
	color: white;
	background-color: black;
	padding: 1em;
	text-align: center;
	font-size: 2em;
}